.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project


.settings
/settings/
.cache
*.gradle
.log
*.log
appium.log
C:\Users\Alex\Desktop\App\New1\binarqa-group1-appconsole.properties\appium.log
/bin/
/Reports/
/Libs/